extends layout
block content
    link(rel="stylesheet", href="/stylesheets/guide.css")
    button(class="collapsible") Storage building guide
    div(class="content")
        p A storage should include the following basic utilities:
        ul
            li <b>Unsorted chest:</b> located at the entrance of the storage to put items that will be sort later. This chest will connect to the sorting system, or route for manual sorting.
            li <b>Hold area:</b> this area is used to put items that patrons booked in advance. Usually a large area arranged in a way to put chests and signs.
            li <b>Sorting system:</b> doesn't have to be a full sorting system for all Minecraft item, but at least include frequent blocks like stones or minerals.
            li <b>Storage system:</b> The storage should follow the standard sorting system, including the collumn-row arrangement and sign posting.
            li <b>Green farm:</b> a farm, either semi-automatic or manual, to produce staple food. Manual tree farm is also highly recommended.
        p The design of the storage system should be incoporate with green design and reduce building footprint. Light provide by natural sunlight is also encouraged, so underground storage is not recommend. However, the designer should take the sorting system into consideration to avoid any possible conflict with future expansion.