extends layout
block content
    h1(style="margin-top: 0;")= title
    p Welcome to #{title}
    p This is the website for Fidelissma Storage System. FSS is a system developed by Luke Transport to store information about places, books, and storages. I don't even know why a transport company doing these thing but definitely not because we are under-funded by the government and doing public services with private funding.
    h2 What is in the system?
    p The system currently tracking of special locations and coordinates for maintenance and transportation on a public Spreadsheet. Moreover, we also keeping track of item organizing in Tundra Storage and future Tundra Library.
    h2 How to contribute to the system?
    p Currently, you can freely contribute to the coordinate database. The Tundra Storage is always open for the public to use without charge but we need contributors to donate items for the public and helping us to renovate the current storage. You can upload your book here and send a copy to Tundra Storage to be store and publish by Tundra Library in the future.