extends layout

block content
    h1= title
    p Welcome to #{title}
    p This is the website for Fidelissma Storage System. FSS is a system developed by Luke Transport to store information about places, books, and storages. I don't even know why a transport company doing these thing but anyway.
    a(href="https://docs.google.com/spreadsheets/d/15WQCAL0x39rmFDKfMoDNNalhahPVeGpYipkhvoXs7eg/edit?usp=sharing") Coordinates database