doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav
            a(href="/") HOME
            a(href="/search") SEARCH
            a(href="/search", style="float: right") SIGN IN

        block content
        script(src="/javascripts/scripts.js")
        footer
            p Contact Luke Transport at
            li Tundra Storage: Put coords here
            li Discord:
