doctype html
html
    head
        title= title
        link(rel="shortcut icon", href="/images/Icon.png", type="image/x-icon")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav
            a(href="/") Home
            a(href="/search") Search
            a(href="https://docs.google.com/spreadsheets/d/15WQCAL0x39rmFDKfMoDNNalhahPVeGpYipkhvoXs7eg/edit?usp=sharing", target="_blank") Coordinate database
            a(href="/guide") Guide
            //- a(href="/search", style="float: right") Sign in
        block content
        script(src="/javascripts/scripts.js")
        //- footer
        //-     p Contact Luke Transport at
        //-     ul
        //-         li Tundra Storage: Put coords here
        //-         li Discord:
